
#names_of_family_members{
    color: red;
    font-size: 25px;
    font-family: cursive;
    background-color: violet;
}
#header{
    color: black;
    font-style: cursive;
    background-color: burlywood;
}